<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_barChart_position</key>
	<integer>4</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>1</integer>
	<key>Battery_battery_position</key>
	<integer>0</integer>
	<key>Battery_label_position</key>
	<integer>2</integer>
	<key>Battery_mini_position</key>
	<integer>3</integer>
	<key>Battery_notifications_high</key>
	<string></string>
	<key>Battery_notifications_low</key>
	<string>low</string>
	<key>Battery_state</key>
	<false/>
	<key>Battery_widget</key>
	<string>battery,battery_details</string>
	<key>CPU_barChart_position</key>
	<integer>3</integer>
	<key>CPU_label_position</key>
	<integer>2</integer>
	<key>CPU_lineChart_position</key>
	<integer>0</integer>
	<key>CPU_line_chart_box</key>
	<false/>
	<key>CPU_line_chart_color</key>
	<string>utilization</string>
	<key>CPU_line_chart_frame</key>
	<false/>
	<key>CPU_line_chart_historyCount</key>
	<integer>30</integer>
	<key>CPU_line_chart_label</key>
	<false/>
	<key>CPU_line_chart_value</key>
	<true/>
	<key>CPU_line_chart_valueColor</key>
	<true/>
	<key>CPU_mini_position</key>
	<integer>1</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_processes</key>
	<integer>8</integer>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_updateTopInterval</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>line_chart</string>
	<key>CombinedModules</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>8</string>
	<key>Disk_barChart_position</key>
	<integer>3</integer>
	<key>Disk_label_position</key>
	<integer>2</integer>
	<key>Disk_memory_position</key>
	<integer>5</integer>
	<key>Disk_mini_position</key>
	<integer>1</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_notifications_utilization_state</key>
	<true/>
	<key>Disk_oneView</key>
	<true/>
	<key>Disk_pieChart_position</key>
	<integer>4</integer>
	<key>Disk_speed_displayValue</key>
	<string>oi</string>
	<key>Disk_speed_icon</key>
	<string>chars</string>
	<key>Disk_speed_iconColor</key>
	<string>default</string>
	<key>Disk_speed_mode</key>
	<string>twoRows</string>
	<key>Disk_speed_position</key>
	<integer>0</integer>
	<key>Disk_speed_valueColor</key>
	<string>default</string>
	<key>Disk_state</key>
	<false/>
	<key>Disk_text_position</key>
	<integer>7</integer>
	<key>Disk_widget</key>
	<string>speed</string>
	<key>GPU_barChart_position</key>
	<integer>3</integer>
	<key>GPU_label_position</key>
	<integer>0</integer>
	<key>GPU_lineChart_position</key>
	<integer>1</integer>
	<key>GPU_mini_position</key>
	<integer>2</integer>
	<key>GPU_tachometer_position</key>
	<integer>4</integer>
	<key>GPU_widget</key>
	<string></string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSStatusItem Preferred Position CPU</key>
	<real>640</real>
	<key>NSStatusItem Preferred Position CPU_line_chart</key>
	<real>670</real>
	<key>NSStatusItem Preferred Position Network</key>
	<real>537</real>
	<key>NSStatusItem Preferred Position RAM</key>
	<real>503</real>
	<key>NSStatusItem Preferred Position RAM_pie_chart</key>
	<real>636</real>
	<key>NSStatusItem Restore Position Disk</key>
	<integer>477</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>839 841 430 163 0 0 2056 1285 </string>
	<key>Network_base</key>
	<string>byte</string>
	<key>Network_label_position</key>
	<integer>3</integer>
	<key>Network_networkChart_position</key>
	<integer>1</integer>
	<key>Network_network_chart_downloadColor</key>
	<string>secondGreen</string>
	<key>Network_network_chart_frame</key>
	<false/>
	<key>Network_network_chart_historyCount</key>
	<integer>30</integer>
	<key>Network_network_chart_reverseOrder</key>
	<false/>
	<key>Network_network_chart_scale</key>
	<string>linear</string>
	<key>Network_network_chart_uploadColor</key>
	<string>secondRed</string>
	<key>Network_oneView</key>
	<true/>
	<key>Network_processes</key>
	<integer>5</integer>
	<key>Network_speed_downloadColor</key>
	<string>secondGreen</string>
	<key>Network_speed_icon</key>
	<string>chars</string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_position</key>
	<integer>0</integer>
	<key>Network_speed_units</key>
	<true/>
	<key>Network_speed_value</key>
	<true/>
	<key>Network_speed_valueAlignment</key>
	<string>right</string>
	<key>Network_speed_valueColor</key>
	<string>default</string>
	<key>Network_state_activeColor</key>
	<string>secondGreen</string>
	<key>Network_state_position</key>
	<integer>2</integer>
	<key>Network_text_position</key>
	<integer>4</integer>
	<key>Network_updateICMPInterval</key>
	<integer>3</integer>
	<key>Network_uploadColor</key>
	<string>secondGreen</string>
	<key>Network_usageReset</key>
	<string>Never</string>
	<key>Network_widget</key>
	<string>speed,network_chart,state</string>
	<key>RAM_barChart_position</key>
	<integer>6</integer>
	<key>RAM_bar_chart_box</key>
	<false/>
	<key>RAM_bar_chart_frame</key>
	<false/>
	<key>RAM_bar_chart_label</key>
	<false/>
	<key>RAM_label_position</key>
	<integer>4</integer>
	<key>RAM_lineChart_position</key>
	<integer>2</integer>
	<key>RAM_line_chart_box</key>
	<false/>
	<key>RAM_line_chart_frame</key>
	<false/>
	<key>RAM_line_chart_label</key>
	<false/>
	<key>RAM_line_chart_value</key>
	<true/>
	<key>RAM_line_chart_valueColor</key>
	<true/>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_position</key>
	<integer>3</integer>
	<key>RAM_pieChart_position</key>
	<integer>0</integer>
	<key>RAM_splitValue</key>
	<false/>
	<key>RAM_state</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>1</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>pie_chart</string>
	<key>SSD_mini_label</key>
	<false/>
	<key>Sensors_barChart_position</key>
	<integer>3</integer>
	<key>Sensors_label_position</key>
	<integer>1</integer>
	<key>Sensors_mini_position</key>
	<integer>0</integer>
	<key>Sensors_stack_position</key>
	<integer>2</integer>
	<key>Sensors_state</key>
	<false/>
	<key>Sensors_updateInterval</key>
	<integer>2</integer>
	<key>Sensors_widget</key>
	<string>mini</string>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1763442998</integer>
	<key>telemetry</key>
	<false/>
	<key>temperature_units</key>
	<string>celsius</string>
	<key>updater_check_ts</key>
	<integer>1763613205</integer>
	<key>version</key>
	<string>2.11.61</string>
</dict>
</plist>
