mode: symlink

{{ $is_corp_default := false -}}
{{ if (or (hasPrefix "fushimi" .chezmoi.username) (hasPrefix "ryohei" .chezmoi.username)) -}}
{{   $is_corp_default = true -}}
{{ end -}}

{{ $is_corp := promptBoolOnce . "is_corp" "Is this a corporate machine" $is_corp_default -}}
{{ $email := promptStringOnce . "email" "What is your email address" "fushimi.ryohei@gmail.com" }}
data:
  is_corp: {{ $is_corp }}
  email: {{ $email | quote }}
