tell application "iTerm2"
    set newWindow to (create window with default profile)
    tell current session of newWindow
        write text "rw {{ .chezmoi.username }}.c.googlers.com"
    end tell
end tell
