
# tap repositories and their packages

tap "homebrew/core"
brew "atuin"
brew "autoconf"
brew "automake"
brew "bash-completion"
brew "bat"

brew "certifi"
brew "chezmoi"
brew "cmake"
brew "coreutils"
brew "diffutils"
brew "direnv"
brew "docker"
brew "docker-completion"
brew "docker-compose"
brew "ed"
brew "fd"
brew "ffmpeg"
brew "findutils"
brew "fzf"
brew "gawk"
brew "gh"
brew "giflib"
brew "git"
brew "git-delta"
brew "gnu-sed"
brew "gnu-tar"
brew "go"
brew "grep"
brew "gzip"
brew "hunspell"
brew "hyperfine"
brew "imagemagick"
brew "jq"
brew "jupyterlab"
brew "lazygit"
brew "lua"
brew "m4"
brew "mas"
brew "mosh"
brew "nasm"
brew "pandoc"
brew "podman"
brew "python@3.12"
brew "python@3.13"
brew "restic"
brew "ripgrep"
brew "ruby"
brew "scrcpy"
brew "sesh"
brew "swiftlint"
brew "syncthing"
brew "task"
brew "tmux"
brew "tree"
brew "vim"
brew "wakeonlan"
brew "watch"
brew "wget"
brew "yt-dlp"
brew "zeromq"
brew "zoxide"

tap "homebrew/cask"
cask "android-platform-tools"
cask "azookey"

cask "coteditor"
cask "discord"
cask "font-hackgen"
cask "ghostty"
cask "google-chrome"
cask "karabiner-elements"
cask "lm-studio"
cask "maccy"
cask "menumeters"
cask "notion"
cask "obs"
cask "obsidian"
cask "raycast"
cask "slack"
cask "stats"
cask "syncthing-app"
cask "visual-studio-code"
cask "vlc"

tap "homebrew/bundle"

tap "homebrew-ffmpeg/ffmpeg"

tap "rcmdnk/file"
brew "brew-file"

tap "rfushimi/tools"

tap "tidbyt/tidbyt"

# Other Cask applications
cask "kindle"

# App Store applications
mas "AmorphousDiskMark", id: 1168254295

mas "CapCut", id: 1500855883
mas "Developer", id: 640199958
mas "Dictionaries", id: 1380563956
mas "Fantastical", id: 975937182
mas "Flighty", id: 1358823008
mas "GarageBand", id: 682658836
mas "GrandPerspective", id: 1111570163
mas "HotKey", id: 975890633
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "LINE", id: 539883307
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Prime Video", id: 545519333
mas "Tailscale", id: 1475387142
mas "The Unarchiver", id: 425424353
mas "Things3", id: 904280696
mas "Windows App", id: 1295203466
mas "Xcode", id: 497799835
